.content {
	white-space: normal;
	text-align: left;
	@include inlineblock(middle);
}

.content__title {
	font-size: 36px;
	color: $main-title-text-color;
	@include exo2(thin);
	text-align: center;
	margin-bottom: 61px;
}

