// Выравнивание блоков
@mixin inlineblock($valign: top) {
    display: inline-block;
    vertical-align: $valign;
}

// Очищение потока и их группировка
%clearfix {
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

// Работа со шрифтами
@mixin exo2($style: thin) {

    @if $style == thin {
        font-family: "exo_2thin";
    }

}

// Преобразование px в rem 
@function rem($px) {
    @return $px / 16px + 0rem;
}

// Cоздание примесей медиазапросов
@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin phones_2x {
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-resolution: 144dpi) {
        @content;
    }
}