extends ./templates/_layout

block title
	title Главная страница

block content-title
	.content__title Ты сегодня покормил кота?

block content
	+product([
		{
			"title": 			"Сказочное заморское яство",
			"name": 			"Нямушка",
			"sub-name": 		"с фуа-гра",
			"list": {
				"item1": {
					"count": 	"10",
					"desc": 	"порций"
				},
				"item2": {
					"count": 	"",
					"desc": 	"мышь в подарок"
				}
			},
			"weight-count": 	"0,5",
			"weight-unit": 		"кг",
			"buy": 				"Чего сидишь? Порадуй котэ, ",
			"buy-link": 		"купи",
			"information": 		"Печень утки разварная с артишоками."
		}, 
		{
			"title": 			"Сказочное заморское яство",
			"name": 			"Нямушка",
			"sub-name": 		"с рыбой",
			"list": {
				"item1": {
					"count": 	"40",
					"desc": 	"порций"
				},
				"item2": {
					"count": 	"2",
					"desc": 	"мыши в подарок"
				}
			},
			"weight-count": 	"2",
			"weight-unit": 		"кг",
			"buy": 				"Чего сидишь? Порадуй котэ, ",
			"buy-link": 		"купи",
			"information": 		"Головы щучьи с чесноком да свежайшая сёмгушка."
		},
		{
			"title": 			"Сказочное заморское яство",
			"name": 			"Нямушка",
			"sub-name": 		"с курой",
			"list": {
				"item1": {
					"count": 	"100",
					"desc": 	"порций"
				},
				"item2": {
					"count": 	"5",
					"desc": 	"мышей в подарок"
				},
				"item3": {
					"count": 	"",
					"desc": 	"заказчик доволен"
				}
			},
			"weight-count": 	"5",
			"weight-unit": 		"кг",
			"buy": 				"Чего сидишь? Порадуй котэ, ",
			"buy-link": 		"купи",
			"information": 		"Филе из цыплят с трюфелями в бульоне."
		}
	],
	{
		"disabled-id": 			2,
		"disabled-text-before": "Печалька,",
		"disabled-text-after": 	"закончился."
	},
	{
		"question": 			"Котэ не одобряет?"
	})