.card {
	height: rem(437px);
	border: rem(4px) solid $main-block-border-color;
	border-top: none;
	border-radius: 0 0 rem(10px) rem(10px);
	position: relative;
	background-color: $main-block-bg-color;
	margin-bottom: rem(11px);
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		width: rem(160px);
		height: rem(40px);
		top: rem(-43px);
		left: rem(17.5px);
		background-color: $main-block-bg-color;
		border-top: rem(4px) solid $main-block-border-color;
		border-left: rem(5px) solid $main-block-border-color;
		transform: skew(-45deg);
		z-index: 1;
	}

	&::after {
		content: "";
		position: absolute;
		width: rem(160px);
		height: rem(40px);
		top: rem(-43px);
		right: rem(-4px);
		background-color: $main-block-bg-color;
		border-top: rem(4px) solid $main-block-border-color;
		border-right: rem(4px) solid $main-block-border-color;
		border-top-right-radius: rem(10px);
		z-index: 2;
	}
}

.card__title,
.card__question {
	font-size: rem(16px);
	position: absolute;
	top: rem(-25px);
	left: rem(44px);
	z-index: 3;
}

.card__title {
	color: $main-block-text-color-2;
}

.card__question {
	color: $main-block-text-color-selected-hover;
	display: none;
}

.card__inner {
	background: $main-block-bg-color url(../images/funbox_logo.png) rem(-28px) rem(163px) no-repeat;
	background-size: rem(370px) rem(361px);
	height: rem(433px);
	line-height: 1.2;
	padding: 0 rem(5px) 0 rem(42px);
	border-radius: 0 0 rem(6px) rem(6px);
}

.card__sub-name,
.card__panel {
	padding-left: rem(2px);
}

.card__panel-item {
	color: $main-block-text-color-2;
}

.card__name,
.card__sub-name {
	font-weight: bold;
	color: $main-block-text-color-1;
}

.card__name {
	font-size: rem(48px);
}

.card__sub-name {
	font-size: rem(24px);
	margin-bottom: rem(12px);
}

.card__panel-item {
	font-size: rem(14px);

	span {
		font-weight: bold;
	}
}