.product {
	font-size: 0;
	text-align: center;
}

.product__item {
	display : inline-block;
	width : rem(400px);
	vertical-align: top;
	text-align: left;
	font-size: rem(16px);
	padding: 0 rem(40px);
	margin-bottom: rem(70px); // добавлен из-за расширения контента, если блоков > 3 


	&:first-child {
		margin-left: 0;
	}

	@include desktop {
		padding: 0 rem(20px);
		width : rem(360px);
	}
	
	@include phones {
		//margin-bottom: 70px; закоментирован из-за "margin-bottom: 70px" у .product__item

		&:last-child {
			margin-bottom: rem(40px);
		}
	}
}

.product__buy,
.product__ended,
.product__information {
	font-size: rem(13px);
	text-align: center;	
}

.product__buy,
.product__information {
	color: $main-block-text-caption-color;
}

.product__buy-link {
	border-bottom: rem(1px) dashed $main-block-link-color;

	&:link {
		color: $main-block-link-color;
		text-decoration: none;
	}

	&:visited{
		color: $main-block-link-color;
		text-decoration: none;
	}

	&:active {
		color: $main-block-link-color;
		text-decoration: none;
	}

}

.product__information {
	display: none;
}

.product__ended {
	color: $main-block-text-caption-color-disabled;
	display: none;
}