.selected-hover {

	.card {
		cursor: pointer;
		border-color: $main-block-border-color-selected-hover;

		&::after {
			border-color: $main-block-border-color-selected-hover;
		}

		&::before {
			border-color: $main-block-border-color-selected-hover;
		}
	}

	.card__title {
		display: none;
	}

	.card__question {
		display: block;
	}
	
	.weight {
		background-color: $main-block-label-bg-color-selected-hover;
	}

}