.selected {

	.card {
		cursor: pointer;
		border-color: $main-block-border-color-selected;

		&::after {
			border-color: $main-block-border-color-selected;
		}

		&::before {
			border-color: $main-block-border-color-selected;
		}
	}
	
	.weight {
		background-color: $main-block-label-bg-color-selected;
	}
	
	.product__buy {
		display: none;
	}

	.product__information {
		display: block;
	}

}