.weight {
	position: absolute;
	bottom: rem(11px);
	right: rem(11px);
	background-color: $main-block-label-bg-color;
	height: rem(81px);
	width: rem(81px);
	border-radius: 50%;
	text-align: center;
	font-size: 0;
	z-index: 4;

	&::before {
		content: " ";
		height: 100%;
		@include inlineblock(middle);
	}
}

.weight__content {
	@include inlineblock(middle);
	line-height: 0.9;
}

.weight__count,
.weight__unit {
	color: $main-block-label-text-color;	
}

.weight__count {
	font-size: rem(42px);
}

.weight__unit {
	font-size: rem(21px);
}